

* {font-family: Arial, Helvetica, sans-serif;}

@font-face {
  font-family: 'Magilio';
  src: url('./pages/fonts/magilio-font/MagilioRegular-Yzv2O.ttf') format('truetype'),
        url('./pages/fonts/magilio-font/MagilioRegular-8Mxvg.otf') format('opentype');
 
}

.custom-green {
  color: #006400; 
}

.navBar {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    align-items: center;
    height:100px
  }
  
  .navBarTitle{
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Magilio', sans-serif;
  }
  .navBarLogo{
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 200px;
    padding-left: 15px;

  }
  .horizontalNav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    align-self: flex-end;
    margin-left: auto;
  }
  
  .horizontalNav li {
    margin-right: 10px;
  }
  
  .horizontalNav li:last-child {
    margin-right: 0;
  }
  
  .horizontalNav li a {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
  }
  
  .horizontalNav li a:hover {
    background-color: #ddd;
  }

  .mapPage {
    position: relative;
  }

  .popupBox{
    background-color: beige;
    position: absolute;
    width: 50vw;
    aspect-ratio: 2/1;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 10px;
  }

  .popupCloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .popupContent {
    margin: 10px;
    margin-top: 30px;
    
  }

  .boxed-display {
    background-image: url('pages/images/background1.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
  }
  
  .boxed-display::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the alpha value for desired transparency */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  
  .boxed-display .content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 100px;
  }
  
  .boxed-display h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .paragraph {
    padding: 10px;
    margin-bottom: 10px;
    line-height: 1.6;
  }